@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.headLines-Noto-Serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;  
}
.inter{
    
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* Shared Style */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin:20px auto;
}

.flex-items{
    display: flex;
}
.text-gray{
    color:rgba(0, 0, 0, 0.5);
}
.title-color{
    color:#E95A08

}

.btn-primary{
    background-color: #E95A08;
    color: aliceblue;
    border: none;
    padding: 16px 20px;
    width: 270px;

}


/* Nav Style */

.home{
    color: #252432;
}
.nav{
     justify-content: space-between; 
   align-items: center;
}

.nav ul , a, i{
   list-style: none;
   text-decoration: none;
   margin-left: 20px;

}

/* Fresh Flower */

.fresh-flower{
    margin:7.5rem auto;
}

.fresh-flower-title{
    font-weight: bold;
    font-size: 4rem;
    width: 570px;
}

.fresh-flower-description{
    width: 570px;
    font-size: 22px;
   color: rgba(0, 0, 0, 0.56);
}
.flower-img{
    /* width: 570px; */
    width:100%;
}

/* Our Plants */

.plant-title{
    font-weight: bold;
    font-size: 3.124rem;
    text-align: center;
    
}
.plant-text{
    font-size: 1.375rem;
    /* width: 55.5rem; */
    text-align: center;
    padding:0px 126px;
    margin:34px;
}


/* Container */

.container-text{
    /* width: 270px;
    height: 132px; */
    text-align: center;
    margin-bottom: 30px;
}

.text{
    padding: 0px;
    margin:30px 69px ;
}

.cart-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}


/*  Flower and Plants Lover */

.flower-shope{
      display:flex;
      justify-content: space-between;
      gap:20px;
}

.shope-container {
  width:540px;
 
}

.shope-title  {
  font-weight: bold;
  font-size: 50px;
  width:540px;
  height: 137px;
  padding-bottom: 10px;
  
}

 /* Flower & Plants Lover store */
 .flower-store{
    margin-top: 210px;
    display: flex;
    align-items: center;
    gap:20px;
 }
 .flower-img{
    /* border: 2px solid black; */
    flex: 1;
    position: relative;
 }
 .flower-img img{
    width:100%;
    
 }

 #badge{
    width: 286px;
 position: absolute;
 top:-120px;
 right: -100px;
  
 }
 .flower-text{
    flex:1;
    margin-left: 30px;
 }
 .flower-text h2{
    font-size:50px;
    font-weight: bold;
    width:400px;
    margin-bottom: 20px;
    
 }
 .flower-text ul,li{
    font-size:20px;
    padding-left:5px;
    color:rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
 }
/* Latest Deal */
.deals{
    
    margin:133px auto;
    text-align:center;
    max-width: 800px;
}
.deals-section-container h2{
   font-size:50px;
   font-weight: bold;
   

}
.deals-section-container p{
    font-size:20px;
    
   
}
.deal-cards{
    display: flex;
    gap:28px;
    
    
}
.deal-cards img{
    border-radius: 10px;
}

.deal-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.deal-right {
  flex: 2;
}

.deal-card {
  position: relative;
  overflow: hidden;

}

.deal-card .overlay {
     color: white;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  left: 20%;
  top:30%;
  
}
.overlay a{
   color:white;
   font-size: 20px;
   font-weight: 700;
position: absolute;
left:20%;
text-decoration: underline;

  
}
.overlay-2 h4 {
 font-weight: bold;
 font-size: 40px;
 color:white;
 position: absolute;
 top:30%;
left: 50%;
 transform: translate(-50%,-50%);

}
.deal-right a{
    font-size: 28px;
    font-weight: 600;
    color:white;
    position: absolute;
 top:60%;
left: 50%;
 transform: translate(-50%,-50%);
 text-decoration: underline;


}
 /* Newsletter Section  */
 .newsletter{
    background:url('../assets/news-letter-bg.png') center/cover no-repeat;
    /* padding: 100px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    height:533px;
    margin-top:120px;
    

 }
 .overlay-content h2{
     font-weight:bold;
     font-size: 50px;
 }
 
 .newsletter form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.newsletter input {
  padding: 10px 20px 20px 20px;
  flex: 1;
  border: none;
  
}

.newsletter button {
    width:25%;
  color: white;
  border: none;
  font-weight:600;
  
}
/* footer */
footer {

  padding:50px 160px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 110px;
}

.footer-left {
  flex: 1;
  
}
.footer-left p{
    width:359px;
    font-size:22px;
    
}

.footer-logo {
  margin-bottom: 15px;
}

.footer-links  {
  flex: 2;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer-links p{
    padding-bottom: 32px;
}

.footer-links div {
  flex: 1;
}

.footer-links p {
  margin-bottom: 6px;
  color: #555;
}

.social-media img {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}


         /* Responsive Section */
@media screen and (max-width: 576px) {
 /* *{
  margin:0;
  padding:0;
  max-width: 495px;
 } */
          /* Nav Section */
.list a{
    display:none;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 16px;
    width:461px;
  }
  .cart-icon {
    font-size: 16px;
  }

   /* banner */
   .fresh-flower{
    flex-direction: column-reverse;

   }
   .fresh-flower .flower-img{
    
    width:100%;
   }

   .fresh-flower-title{
    font-size:24px;
    font-weight: bold;
    width:222px;
    margin:24px 16px 10px 16px;

   }
   .fresh-flower-description{
    margin:0 16px 30px 16px;
    font-size:14px;
    width:461px;
   }
       /* Our Plants */
       .plant-title{
        font-size:24px;
        margin-bottom:20px;
       }
  .plant-text{
    margin-bottom:30px;
    font-size:14px;
    width:460px;
  }

  /* card container */
  
  .cart-grid{
    grid-template-columns: repeat(2,1fr);
    gap:15px;
    margin:0 16px 0 16px;
    
  }
     /* Flower plant store */
  #badge{
    display:none;
  }
  .flower-store{
    flex-direction: column;
    width:461px;
   padding:0 16px;
  }
  .flower-text h2{
    font-size:24px;
  }
  .flower-text li{
    font-size:14px;
  }
  
}










