@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.headLines-Noto-Serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;  
}
.inter{
    
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* Shared Style */

.width{
    max-width: 1140px;
    margin:20px auto;
}

.flex-items{
    display: flex;
}
.text-gray{
    color:rgba(0, 0, 0, 0.5);
}
.title-color{
    color:#E95A08

}

.btn-primary{
    background-color: #E95A08;
    color: aliceblue;
    border: none;
    padding: 16px 20px;
    width: 270px;

}


/* Nav Style */

.home{
    color: #252432;
}

.nav,.list , a{
    
   justify-content: space-between; 
   align-items: center;
   list-style: none;
   text-decoration: none;

}

ul, li {
    margin-left: 50px;   
}
li:last-child{
    text-align: center;
}


/* Fresh Flower */

.fresh-flower{
    margin:7.5rem auto;
}

.fresh-flower-title{
    font-weight: bold;
    font-size: 4rem;
    width: 570px;
}

.fresh-flower-description{
    width: 570px;
    font-size: 22px;
   color: rgba(0, 0, 0, 0.56);
}
.flower-img{
    width: 570px;
}

/* Our Plants */

.plant-title{
    font-weight: bold;
    font-size: 3.124rem;
    text-align: center;
}
.plant-text{
    font-size: 1.375rem;
    /* width: 55.5rem; */
    text-align: center;
    padding:0px 126px;
}


/* Container */

.container-text{
    /* width: 270px;
    height: 132px; */
    text-align: center;
    margin-bottom: 30px;
}

.text{
    padding: 0px;
    margin:30px 69px ;
}

.cart-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}


/*  Flower and Plants Lover */

.flower-shope{
      display:flex;
      justify-content: space-between;
      gap:20px;
}

.shope-container {
  width:540px;
 
}

.shope-title  {
  font-weight: bold;
  font-size: 50px;
  width:540px;
  height: 137px;
  padding-bottom: 10px;
  
}

 /* Flower & Plants Lover */
 .flower-store{
    margin-top: 210px;
    display: flex;
    align-items: center;
    gap:20px;
 }
 .flower-img{
    /* border: 2px solid black; */
    flex: 1;
    position: relative;
 }
 .flower-img img{
    width:100%;
    border-radius: 10px;
 }

 #badge{
    width: 286px;
 position: absolute;
 top:-120px;
 right: -100px;
  
 }
 .flower-text{
    flex:1;
 }
 .flower-text h2{
    font-size:50px;
    font-weight: bold;
    padding-left:70px;
 }
 .flower-text ul,li{
    font-size:20px;
    padding-left:5px;
    color:rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
 }
/* Latest Deal */

/* Colorful Bunch */

/* footer */


/* Media Query  */

/* navber */
@media screen and (max-width: 576px) {
   .home,.text-gray{
        display: none;
        
    }
    .nav{
        padding:20px 30px;
        
    }
    

    .fresh-flower{
        flex-direction: column-reverse;
        
        
    }
    .flower-text{
    padding:20px 60px;
    padding-right: 60px;
    }
    .fresh-flower-title{
        font-size: 24px;
        font-weight: bold;
        
    }
    .fresh-flower-description{
        font-size: 14px;
    }

       .cart-grid {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-right: 16px;
    }

    .flower-shope{
        flex-direction: column;
        /* width:361px; */
    } 
    
    .flower-store{
    flex-direction: column;
}
#badge{

    display: none;
}
}










